.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .NFL-logo {
  height: auto;
  max-height: 10px;
  width: auto;
  max-width: 10px;
} */

/* .matchup{
  display:flex;
  align-items:space-between;
  justify-content:space-between;
  flex-wrap:wrap;
    width:22.5%; 
    background:white;
    padding:25px;
    margin-bottom:20px;
} */

/* .NFL-logo {
  width: 90px,
  height: 150px,
  resizeMode: 'contain',
  marginTop: 15 ,
  marginBottom: 15,
  borderColor: 'white',} */
